@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    width: 0px;
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

.menu_buttons {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.menu_buttons img {
    width: 24px;
}
.menu_buttons i {
    font-size: 20px;
}

.main-area-background {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(0deg, rgba(255,132,0,1) 0%, rgba(255,202,40,1) 100%);
    position: relative;
    z-index: 0;
    padding: 20px 15px !important;
}

.main-area-background main {
    margin-top: -60px;
}

.fa-bell {
    color: white;
    font-size: 1.2em;
}

#navbar {
    position: relative;
    z-index: 2;
}

.profile_iamge {
    width: 75px;
    height: 75px;
    border-radius: 190%;
    object-fit: cover;
    display: block;
    margin: 0px auto 5px;
    box-shadow: 0px 10px 20px rgb(170, 112, 4);
    position: relative;
    z-index: 11;
}

.shaped_curv {
    -webkit-mask-image: url(./assets/shape.png);
    -webkit-mask-size: 80vw 280px;
    -webkit-mask-position: center top -20px;
    -webkit-mask-repeat: repeat-x;
    background-color: #ffffff;
    border-radius: 20px 20px 0px 0px;
    position: relative;
    z-index: -1;
    overflow: hidden;
}

@media(max-width: 767px) {
    .shaped_curv {
        -webkit-mask-size: 600px 280px;
        -webkit-mask-position: center top -20px;
    }
}

#main-card {
    position: relative;
    top: -15px;
    z-index: 0;
    border: transparent;
    background-color: transparent;
}

#main-card.animate_card {
    -webkit-animation-name: scale_card;
    -webkit-animation-duration: 0.5s;
    animation-name: scale_card;
    animation-duration: 0.5s;
}

@keyframes scale_card {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes scale_card {
    0% {
        -webkit-transform: scale(1);
    }
    50% {
        -webkit-transform: scale(0.9);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

#main-card .card-body {
    background-color: #ffffff;
    margin: -2px 0px 0px;
    border-radius: 0px 0px 20px 20px;
    overflow: hidden;
}

.card-subtitle {
    font-size: 0.7em;
    font-weight: 600;
}

.notice {
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

hr.middel-line {
    color: rgba(128, 128, 128, 0.949);
}

h6.date-notice {
    margin-top: 10px;
    font-weight: 600;
    font-size: 1em;
}

.add-btn {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 10px;
    font-size: 10px;
    color: white;
    background-color: black;
    border: none;
    outline: none;
    border-radius: 50%;
}

.button-feature {
    cursor: pointer;
    text-align: left;
    font-size: 11px;
    font-weight: 500;
    border: none;
    outline: none;
    border: 2px solid white;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(248, 242, 231);
}

.button-feature:active {
    background-color: black;
    color: white;
}

.button-feature:hover {
    background-color: rgba(255, 68, 0, 0.871);
    color: white;
}

.feature-img {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 2em;
    height: 2em;
    object-fit: cover;
    border-radius: 50%;
}

::placeholder {
    font-size: 12px;
    color: gray;
    padding: 0px 5px;
}

.form-input {
    background-color: transparent;
    border: none;
    padding: 10px 0px;
    margin: 1px 0px;
    width: 100%;
}

.form-input:focus {
    outline: none;
}

.confirm-leave {
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    color: white;
    margin: 10px 0px 0px 0px;
    background: linear-gradient(to right, rgba(255, 157, 0, 0.97) 20%, rgba(255, 68, 0, 0.813) 70%);
    border-radius: 20px;
}

.confirmBtn {
    position: relative;
    /* transform: scale(0); */
    left: 0px;
}

.leave-invoice {
    position: relative;
    /* transform: scale(0); */
    left: 0px;
}

.date-time-notice {
    position: relative;
    left: 0px;
}

.cal {
    position: absolute;
    top: 0px;
    left: 120%;
}


.btn-cal {
    width: calc(50% - 10px);
    padding: 15px;
    border: none;
    outline: none;
    color: white;
    margin: 10px 0px 0px;
    border-radius: 20px;
}

#btn-cancel {
    
    background: linear-gradient(to right, rgba(203, 201, 201, 0.97) 20%, rgba(224, 224, 224, 0.813) 70%);
    color: black;
    transition: 1s;
}

#btn-save {
    background: linear-gradient(to right, rgba(255, 157, 0, 0.97) 20%, rgba(255, 68, 0, 0.813) 70%);
    transition: 1s;
}

.btn-group-track {
    position: relative;
    z-index: -1;
    padding: 25px 0px;
    width: auto;
    border-radius: 12px;
    background: rgba(245, 121, 5, 0.5);
    text-align: center;
    overflow: hidden;
}

.btn-group-track > .col {
    position: relative;
}

#user-component {
    position: relative;
    z-index: 0;
}

.track {
    background-color: white;
    position: absolute;
    border-radius: 10px;
    z-index: -1;
    width: calc((100% / 2) - 3px);
    height: calc(100% - 6px);
    left: 3px;
}


.btn-group-track .col button {
    border: none;
    background: transparent;
    font-size: 12px;
    text-align: center;
    transition: all 0.4s;
    position: absolute;
    padding: 25px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-group-track .col:nth-child(3) button {
    color: white;
}

canvas#leave-manage-chart {
    position: relative;
    margin: 10% 0%;
    max-width: 100%;
    color: white;
}

.user-profile-img {
    width: 3em;
    height: 3em;
    border-radius: 50%;
    object-fit: cover;
}

.box-user {
    position: relative;
    border-radius: 20px;
    padding: 1em;
    background-color: rgb(255 89 0 / 48%);
    width: 15rem;
    height: auto;
}

.user-detail {
    width: 6em;
    margin: 0px 10px;
}

.user-detail .sub-name {
    color: white;
    letter-spacing: 1px;
    font-size: 0.6em;
    margin: 4% 0% 10% 0%;
}

.user-detail .user-name {
    font-size: 0.8em;
    color: white;
}

.box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 24em;
}

.jqyc-change-year.btn-arrow {
    background: orange;
    color: white;
}

.leave-date {
    color: white;
    font-size: 0.7em;
}

#month {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.785);
}

.btn-left-angle {
    padding: 2px 10px;
    border: none;
    border-radius: 50%;
    background: rgb(255 255 255 / 28%);
    color: white;
}

.btn-right-angle {
    padding: 2px 10px;
    border: none;
    border-radius: 50%;
    background: rgb(255 255 255 / 28%);
    color: white;
}



.timeline_box {
    display: flex;
    width: 100%;
}

span.leave-bar-1 {
    top: 20px;
    margin: 5px 0px;
    height: 5px;
    position: absolute;
    z-index: 1;
    left: 35px;
    width: 70px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 10%, rgb(255 255 255 / 75%));
}
span.leave-bar-2 {
    top: 40px;
    margin: 5px 0px;
    height: 5px;
    position: absolute;
    z-index: 1;
    left: 35px;
    width: 140px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 10%, rgb(255 255 255 / 75%));
}        
span.leave-bar-3 {
    top: 60px;
    margin: 5px 0px;
    height: 5px;
    position: absolute;
    z-index: 1;
    left: 35px;
    width: 70px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 10%, rgb(255 255 255 / 75%));
}        
span.leave-bar-4 {
    top: 80px;
    margin: 5px 0px;
    height: 5px;
    position: absolute;
    z-index: 1;
    left: 35px;
    width: 140px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 10%, rgb(255 255 255 / 75%));
}        
span.leave-bar-5 {
    top: 100px;
    margin: 5px 0px;
    height: 5px;
    position: absolute;
    z-index: 1;
    left: 35px;
    width: 210px;
    border-radius: 20px;
    background: linear-gradient(to right, rgb(255 255 255 / 50%) 10%, rgb(255 255 255 / 75%));
}        

.piller {
    position: relative;
    background-color: transparent;
    flex: 0 0 70px;
    max-width: 70px;
}

.piller .dots-set .piller-dots {
    font-size: 8px;
    opacity: 0.6;
    line-height: 30px;
}

.piller .dots-set .piller-dots:last-child {
    font-size: 12px;
    opacity: 1;
}

.piller:nth-child(7) .dots-set {
    width: 60px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient(0deg, rgba(255,202,40,0.65) 0%, rgba(255,202,40,0.1) 100%);
}

.piller,
.dots-set {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* calendar css start */
.jqyc-year-chooser {
    display: none !important;
}
.calendar .jqyc-months {
    margin: 0px 0px 20px !important;
}
.jqyc-months .table td {
    vertical-align: middle;
    height: calc((100vw - 86px) / 7);
    width: calc((100vw - 86px) / 7);
}
.jqyc-months table, .jqyc-months th, .jqyc-months td {
    border: none !important;
}
/* calendar css end */